<script src="https://utteranc.es/client.js"
        repo="Bsaubolle/radical-rogerian"
        issue-term="pathname"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>
